<div
  [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'"
  class="min-vh-100 d-flex align-items-center justify-content-center bg-dark p-3 mt-5"
>
  <form
    [formGroup]="setPasswordForm"
    (ngSubmit)="submitForm()"
    class="form-container"
  >
    <h1>{{ labels[currentLang].title }}</h1>
    <button type="button" class="lang" (click)="toggleLanguage()">
      <i class="fa-solid fa-globe"></i>
      {{ currentLang === "en" ? "عربي" : "English" }}
    </button>
    <div class="mb-3">
      <label for="email">{{ labels[currentLang].email }}</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="{{ labels[currentLang].email }}"
        class="form-control"
      />
      @if (setPasswordForm.get("email")?.errors &&
      setPasswordForm.get("email")?.touched ){
      <div class="error" role="alert">
        <div>
          <ul class="list-unstyled list-inside">
            @if (setPasswordForm.get("email")?.getError('required')) {
            <li>{{ labels[currentLang].emailRequired }}</li>
            } @if (setPasswordForm.get("email")?.getError('email')) {
            <li>{{ labels[currentLang].emailInvalid }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div>
      <input type="text" formControlName="otp" placeholder="Enter OTP" hidden />
    </div>

    <div class="mb-3">
      <label for="password">{{ labels[currentLang].newPassword }}</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="{{ labels[currentLang].enterNewPassword }}"
      />
      @if (setPasswordForm.get("password")?.errors &&
      setPasswordForm.get("password")?.touched ){
      <div class="error" role="alert">
        <div>
          <ul class="list-unstyled list-inside">
            @if (setPasswordForm.get("password")?.getError('required')) {
            <li>{{ labels[currentLang].passwordRequired }}</li>
            } @if (setPasswordForm.get("password")?.getError('minlength')) {
            <li>{{ labels[currentLang].passwordCharacters }}</li>
            } @if (setPasswordForm.get("password")?.getError('password')) {
            <li>{{ labels[currentLang].validPassword }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="confirmPassword">{{
        labels[currentLang].confirmPassword
      }}</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="{{ labels[currentLang].confirm }}"
      />
      @if (setPasswordForm.get("password")?.errors &&
      setPasswordForm.get("password")?.touched ){
      <div class="error" role="alert">
        <div>
          <ul class="list-unstyled list-inside">
            @if (setPasswordForm.get("confirmPassword")?.getError('required')) {
            <li>{{ labels[currentLang].confirmPasswordRequired }}</li>
            } @if (setPasswordForm.errors?.['mismatch']) {
            <li>{{ labels[currentLang].matchPassword }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button type="submit" class="set" [disabled]="isLoading">
      <span *ngIf="!isLoading">{{ labels[currentLang].submit }}</span>
      <span *ngIf="isLoading">{{ labels[currentLang].submiting }}</span>
    </button>
    <div class="alert alert-success mt-3" *ngIf="success">
      {{ labels[currentLang].success }}
    </div>
    <div class="alert alert-danger mt-3" *ngIf="msgError">
      {{ labels[currentLang].msgError }}
    </div>
  </form>
</div>
